@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #87899b;
  background-image: linear-gradient(300deg, #423a4b 0%, #87899b 84%);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  background-color: #646574;
  color: rgba(177, 168, 184);
  border-radius: 10px;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

input::placeholder {
  color: rgb(151, 144, 155);
}

input:focus {
  outline: none;
}

.card {
  background-color: #646574;
  display: flex;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(0, 0, 0, 0.2);
  max-width: 700px;
}

.avatar {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.562);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.user-info {
  margin-left: 2rem;
  color: rgba(177, 168, 184);
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}
.user-info ul li strong {
  padding-right: 0.5rem;
}

.repo {
  display: inline-block;
  background-color: #5b5c69;
  border-radius: 5px;
  color: rgba(177, 168, 184);
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
/* 6:08:22 */
